<% if logged_in? %>

  <div class = 'reponse-secrete'>
    <h1>42</h1>
  </div>
  <%= link_to("LOGOUT", logout_path, method: :delete ) %>
<% else %>
  <%= "Bien essayé petit malin... Va vite te " %><%= link_to "connecter", login_path %>
<% end %>
