 // import scss file
 @import "bootswatch/spacelab/variables";
 @import "bootstrap";
 @import "bootswatch/spacelab/bootswatch";

 .Body_Home
 {
   // background-color:grey ;
   margin-left : 50px
 }

header
{
  background-color: rgb(222, 187, 110)
}

.home
{
  padding: 30px
}

.flashes
{
  // background-color: rgb(9, 159, 69);
  padding: 30px;
  font-weight: bold;
}

.reponse-secrete
{
  margin-left: 650px;
  margin-top: 200px;
}
