 // import scss file
 @import "bootswatch/spacelab/variables";
 @import "bootstrap";
 @import "bootswatch/spacelab/bootswatch";

 .Body_Home
 {
   // background-color:grey ;
   margin-left : 50px
 }

header
{
  background-color: orange;
}

.home
{
  padding: 30px
}
